* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 60px;
    text-align: center;
    background: #0a192f;
    color: white;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}
.img {
    height:200px
}

article {  
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}


img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.dark-mode {
    background-color: #121212;  
    color: #e0e0e0;             
}

.dark-mode a {
    color: #4fc3f7;            
}

.dark-mode a:hover {
    color: #81d4fa;             
}




@media screen and (max-width: 700px) {
    .row, .navbar {   
        flex-direction: column;
    }
}